# Selecting Subsets of Data from DataFrames with Brackets

## pandas dual references - by label and by integer location

The index of each DataFrame provides a label to reference each individual row. Similarly, the column names provide a label to reference each column. What hasn't been mentioned, is that each row and column may be referenced by an integer as well. I call this **integer location**. The integer location begins at 0 for the first row and continues sequentially one integer at a time until the last row. The last row will have integer location `n - 1`, where `n` is the total number of rows in the DataFrame. 

Take a look above at our DataFrame one more time. The rows with labels `Aaron` and `Dean` can also be referenced by their respective integer locations 2 and 4. Similarly, the columns `color`, `age`, and `height` can be referenced by their integer locations 1, 3, and 4.

The official pandas documentation refers to integer location as **position**. I don't particularly like this terminology as it's not as explicit as integer location. The key term here is the word **integer**.

### What's the difference between indexing and selecting subsets of data?

The documentation uses the term **indexing** frequently. This term is a shorter, more technical term that refers to **subset selection**. I prefer the term subset selection, as, again, it is more descriptive of what is actually happening. Indexing is also the term used in the official Python documentation (for selecting subsets of lists or strings for example).

## The three indexers `[ ]`, `loc`, `iloc`

pandas provides three **indexers** to select subsets of data. An indexer is a term for one of  `[ ]`, `loc`, or `iloc` and is what makes the subset selection. All the details on how to make selections with each of these indexers will be covered. Each indexer has different rules for how they work. All of our selections will look similar to the following, except they will have something placed within the brackets.

```python
>>> df[]
>>> df.loc[]
>>> df.iloc[]
```

### Terminology

When the brackets are placed directly after the DataFrame variable name, the term **just the brackets** will be used to differentiate them from the brackets after `loc` and `iloc`.

### Square brackets instead of parentheses

One of the most common mistakes when using `loc` and `iloc` is to append parentheses to them, instead of square brackets. One of the main reasons this mistake is done is because `loc` and `iloc` appear to be methods and all methods are called with parentheses. Both `loc` and `iloc` are NOT methods, but are accessed in the same manner as methods through dot notation, which leads to the mistake.

Few objects accessed through dot notation use brackets instead of parentheses. In Python, the brackets are a universal operator for selecting subsets of data regardless of the type of object. The brackets select subsets of lists, strings, and select a single value in a dictionary. numpy arrays use the brackets operator for subset selection. If you are doing subset selection, it's likely that you need brackets and not parentheses.

## Begin with *just the brackets*

As we saw in a previous chapter, just the brackets are used to select a single column as a Series. We place the column name inside the brackets to return the Series. Let's read in a simple, small DataFrame and select a single column from it. We use the `index_col` parameter to set the index to the first column (integer location 0) on read.

In [3]:
import pandas as pd
df = pd.read_csv('data/sample_data.csv', index_col=0)
df

          state  color    food  age  height  score
name
Jane         NY   blue   Steak   30     165    4.6
Niko         TX  green    Lamb    2      70    8.3
Aaron        FL    red   Mango   12     120    9.0
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2

Append square brackets directly to the DataFrame variable name and then place the name of the column within those brackets. This selects a single column of data as a Series.

In [4]:
df['color']

name
Jane          blue
Niko         green
Aaron          red
Penelope     white
Dean          gray
Christina    black
Cornelia       red
Name: color, dtype: object

## Select multiple columns with a list

Select multiple columns by placing the column names in a list inside of just the brackets. Notice that a DataFrame and NOT a Series is returned.

In [5]:
df[['color', 'age', 'score']]

           color  age  score
name
Jane        blue   30    4.6
Niko       green    2    8.3
Aaron        red   12    9.0
Penelope   white    4    3.3
Dean        gray   32    1.8
Christina  black   33    9.5
Cornelia     red   69    2.2

### You must use an inner set of brackets

You might be tempted to do the following, which will NOT work. When selecting multiple columns, you must use a **list** to contain the names. Remember, that a list is defined by a set of square brackets, so the following raises an error.

In [6]:
df['color', 'age', 'score']

KeyError: ignored

### The inner square brackets define a list, the outer square brackets do subset selection

To help understand the double set of brackets, take a look at the following image. The inner set of brackets define a list of three items. The outer set of brackets mean something completely different. They inform the DataFrame to make a subset selection.

![0]

This difference is confusing because the exact same syntax, the brackets, have a different meaning depending on where they are used. When the brackets are appended directly to the right of a variable name, they translate as "subset selection". When the brackets appear apart from any variable, they translate as "create a list".

[0]: images/list_vs_bracket_selection.png

### Use two lines of code to select multiple columns

To help clarify the process of making subset selection, I recommend using intermediate variables. In this instance, we assign the columns we would like to select to a list and then pass this list to the brackets.


The order of the column names in the list is important. The new DataFrame will have the columns in the order given from the list.

In [7]:
cols = ['color', 'age', 'score']
df[cols]

           color  age  score
name
Jane        blue   30    4.6
Niko       green    2    8.3
Aaron        red   12    9.0
Penelope   white    4    3.3
Dean        gray   32    1.8
Christina  black   33    9.5
Cornelia     red   69    2.2