# Selecting Subsets of Data from DataFrames with `iloc`

The `iloc` indexer is very similar to the `loc` indexer but only uses **integer location** to make its subset selections. The word `iloc` itself stands for integer location and can help remind you what it does.

## Simultaneous row and column subset selection

The `iloc` indexer is capable of making simultaneous row and column selections just like `loc`. Selection with `iloc` takes the following form, with a comma separating the row and column selections.

```python
df.iloc[rows, cols]
```

Let's read in some sample data and then begin making selections with integer location using `iloc`.

In [1]:
import pandas as pd
df = pd.read_csv('sample_data.csv', index_col=0)
df

          state  color    food  age  height  score
name
Jane         NY   blue   Steak   30     165    4.6
Niko         TX  green    Lamb    2      70    8.3
Aaron        FL    red   Mango   12     120    9.0
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2


### Select using a list for both rows and columns

Let's select rows with integer location 2 and 4 along with the first and last columns. It is possible to use negative integers in the same manner as Python lists. The integer location -1 refers to the last column below.

In [2]:
rows = [2, 4]
cols = [0, -1]
df.iloc[rows, cols]

      state  score
name
Aaron    FL    9.0
Dean     AK    1.8

### The possible types of selections for `iloc`

In the above example, we used a list of integers for both the row and column selection. You are not limited to just lists. All of the following are valid objects available for both row and column selections with `iloc`. The `iloc` indexer, unlike `loc`, is unable to do boolean selection. 

* A single integer
* A list of integers
* A slice with integers

### Slice the rows and use a list for the columns

Let's use slice notation to select rows with integer location 2 and 3 and a list to select columns with integer location 4 and 2. Notice that the stop integer location is **excluded** with `iloc`, which is exactly how slicing works with Python lists, tuples, and strings. Slicing with `loc` is **inclusive** of the stop label.

In [3]:
cols = [4, 2]
df.iloc[2:4, cols]

          height   food
name
Aaron        120  Mango
Penelope      80  Apple

### Use a list for the rows and a slice for the columns

In this example, we use a list for the row selection and slice notation for the columns.

In [4]:
rows = [5, 2, 4]
df.iloc[rows, 3:]

           age  height  score
name
Christina   33     172    9.5
Aaron       12     120    9.0
Dean        32     180    1.8

### Select all of the rows and some of the columns

You can use an empty slice (just the colon) to select all of the rows or columns. In the example below, we select all of the rows and some of the columns with a list.

In [5]:
cols = [2, 4]
df.iloc[:, cols]

             food  height
name
Jane        Steak     165
Niko         Lamb      70
Aaron       Mango     120
Penelope    Apple      80
Dean       Cheese     180
Christina   Melon     172
Cornelia    Beans     150

### Select some of the rows and all of the columns

We can again use an empty slice, but do so to select all of the columns. We use a list to select some of the rows.

In [7]:
rows = [-3, -1, -2]
df.iloc[rows, :]

          state  color    food  age  height  score
name
Dean         AK   gray  Cheese   32     180    1.8
Cornelia     TX    red   Beans   69     150    2.2
Christina    TX  black   Melon   33     172    9.5

It is possible to rewrite the above without the column selection. pandas defaults to selecting all of the columns if a selection for them is not explicitly present.

In [8]:
df.iloc[rows]

          state  color    food  age  height  score
name
Dean         AK   gray  Cheese   32     180    1.8
Cornelia     TX    red   Beans   69     150    2.2
Christina    TX  black   Melon   33     172    9.5

### Select a single row and a single column

We can select a single value in our DataFrame using `iloc` by providing a single integer for both the row and column selection. This returns the actual value by itself completely outside of a DataFrame or Series.

In [9]:
df.iloc[3, 2]

'Apple'

### Select a single row and a single column as a DataFrame

It is possible to select the above value as a DataFrame by using one-item lists for the row and column selections. The output looks a little bizarre, but it's just a DataFrame with one row and one column.

In [10]:
rows = [3]
cols = [2]
df.iloc[rows, cols]

           food
name
Penelope  Apple

### Select some rows and a single column

In this example, a list of integers is used for the rows and a single integer for the columns. pandas returns a Series when a single integer is used to select either a row or column.

In [11]:
rows = [2, 3, 5]
cols = 4
df.iloc[rows, cols]

name
Aaron        120
Penelope      80
Christina    172
Name: height, dtype: int64

### Select a single row or column as a DataFrame and NOT a Series

You can select a single row (or column) and return a DataFrame and not a Series if you use a list to make the selection. Let's replicate the selection from the previous example, but use a one-item list for the column selection.

In [12]:
rows = [2, 3, 5]
cols = [4]
df.iloc[rows, cols]

           height
name
Aaron         120
Penelope       80
Christina     172

### Select a single row as a Series

We can select a single row by providing a single integer as the row selection for `iloc`. We use an empty slice to select all of the columns. Because we are selecting a single row, a Series is returned. Just as with `loc`, the returned output can be confusing as the original horizontal row is now displayed vertically.

In [13]:
df.iloc[2, :]

state        FL
color       red
food      Mango
age          12
height      120
score       9.0
Name: Aaron, dtype: object

To maintain the original orientation, we can select the row using a one-item list which returns a DataFrame.

In [14]:
df.iloc[[2], :]

      state color   food  age  height  score
name
Aaron    FL   red  Mango   12     120    9.0