# Boolean Selection Multiple Conditions

### Different logical operators for boolean Series

These built-in logical (and, or, not) operators do not work for creating multiple conditions with a boolean Series. Instead, you must use the following operators.

* `&` for and (ampersand character)
* `|` for or (pipe character)
* `~` for not (tilde character)

Let's use the bikes dataset to make our multiple condition queries.

In [2]:
import pandas as pd
bikes = pd.read_csv('bikes.csv')
bikes.head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
0,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
1,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy

### Our first multiple condition expression

Let's find all the rides longer than 1,000 seconds by males. This query has two conditions - trip durations greater than 1,000 and a gender of 'Male'. The way we approach the problem is to assign each condition to a separate variable. Since we desire both of the conditions to be true, we must use the and (`&`) operator. Each single condition is placed on its own line before using the `&` operator to create the final filter that completes the boolean selection.

In [3]:
filt1 = bikes['tripduration'] > 1000
filt2 = bikes['gender'] == 'Male'
filt = filt1 & filt2
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy
8,Male,2013-07-03 15:21:00,2013-07-03 15:42:00,1300,Clinton St & Washington Blvd,31.0,Wood St & Division St,15.0,71.1,0.0,cloudy
10,Male,2013-07-04 17:17:00,2013-07-04 17:42:00,1523,Morgan St & 18th St,15.0,Damen Ave & Pierce Ave,19.0,79.0,9.2,mostlycloudy

## Multiple conditions in one line

### Use parentheses to separate conditions

You must encapsulate each condition within a set of parentheses in order to make this work. Each condition is separated like this:
```

In [4]:
bikes[(bikes['tripduration'] > 1000) & (bikes['gender'] == 'Male')].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy
8,Male,2013-07-03 15:21:00,2013-07-03 15:42:00,1300,Clinton St & Washington Blvd,31.0,Wood St & Division St,15.0,71.1,0.0,cloudy
10,Male,2013-07-04 17:17:00,2013-07-04 17:42:00,1523,Morgan St & 18th St,15.0,Damen Ave & Pierce Ave,19.0,79.0,9.2,mostlycloudy

## Using an `or` condition

Let's find all the rides that were done by females **or** had trip durations longer than 1,000 seconds. In this example, we need at least one of the conditions to be true, which necessitates the use of the or (`|`) operator.

In [5]:
filt1 = bikes['tripduration'] > 1000
filt2 = bikes['gender'] == 'Female'
filt = filt1 | filt2
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy
8,Male,2013-07-03 15:21:00,2013-07-03 15:42:00,1300,Clinton St & Washington Blvd,31.0,Wood St & Division St,15.0,71.1,0.0,cloudy
9,Female,2013-07-04 15:00:00,2013-07-04 15:16:00,922,Lakeview Ave & Fullerton Pkwy,19.0,Racine Ave & Congress Pkwy,19.0,81.0,12.7,mostlycloudy

## Inverting a condition with the not operator

The tilde character, `~`, represents the not operator and inverts a condition. For instance, if we wanted all the rides with trip duration less than or equal to 1,000, we could do it like this:

In [6]:
filt = bikes['tripduration'] > 1000
bikes[~filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
0,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
1,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy
3,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,19.0,Clark St & Randolph St,31.0,72.0,16.1,mostlycloudy

### Invert a more complex condition

Typically, we reserve the not operator for inverting more complex conditions. Let's invert the condition for selecting rides by females or those with duration over 1,000 seconds. Logically, this should return only male riders with duration 1,000 or less. The `~` operator has precedence over the `|` operator, so we use parentheses to ensure that the or operation is completed first. That result is then inverted.

In [7]:
filt1 = bikes['tripduration'] > 1000
filt2 = bikes['gender'] == 'Female'
filt = ~(filt1 | filt2)
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
0,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
1,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy
3,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,19.0,Clark St & Randolph St,31.0,72.0,16.1,mostlycloudy

### Even more complex conditions

It is possible to build extremely complex conditions to select rows of your DataFrame that meet a very specific query. For instance, we can select males riders with trip duration between 5,000 and 10,000 seconds along with female riders with trip duration between 2,000 and 3,000 seconds. With multiple conditions, it's probably best to break out the logic into multiple steps:

In [8]:
filt1 = ((bikes['gender'] == 'Male') &
         (bikes['tripduration'] >= 5000) &
         (bikes['tripduration'] <= 10000))

filt2 = ((bikes['gender'] == 'Female') &
         (bikes['tripduration'] >= 2000) &
         (bikes['tripduration'] <= 3000))
filt = filt1 | filt2
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
18,Male,2013-07-09 13:12:00,2013-07-09 14:42:00,5396,Canal St & Jackson Blvd,35.0,Millennium Park,35.0,79.0,13.8,cloudy
173,Female,2013-08-08 08:49:00,2013-08-08 09:31:00,2502,Sheffield Ave & Addison St,27.0,Dearborn St & Adams St,19.0,71.1,10.4,mostlycloudy
258,Female,2013-08-17 22:10:00,2013-08-17 22:53:00,2566,Millennium Park,35.0,Theater on the Lake,15.0,69.1,5.8,clear

## Many equality conditions in a single column

In [9]:
filt = ((bikes['events'] == 'rain') | 
        (bikes['events'] == 'snow') | 
        (bikes['events'] == 'tstorms') | 
        (bikes['events'] == 'sleet'))
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
45,Male,2013-07-15 16:43:00,2013-07-15 16:55:00,727,Greenwood Ave & 47th St,15.0,State St & Harrison St,19.0,82.9,5.8,rain
78,Male,2013-07-21 16:35:00,2013-07-21 17:06:00,1809,Michigan Ave & Pearson St,23.0,Millennium Park,35.0,82.4,11.5,tstorms
79,Male,2013-07-21 16:47:00,2013-07-21 17:03:00,999,Carpenter St & Huron St,19.0,Carpenter St & Huron St,19.0,82.4,11.5,tstorms

### Use the `isin` method instead

Instead of using an operator, we use the `isin` method. Pass it a list (or a set) of all the values you want to test equality with. The `isin` method returns a boolean Series and in this example, the same exact boolean Series as the previous one.

In [10]:
filt = bikes['events'].isin(['rain', 'snow', 'tstorms', 'sleet'])
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
45,Male,2013-07-15 16:43:00,2013-07-15 16:55:00,727,Greenwood Ave & 47th St,15.0,State St & Harrison St,19.0,82.9,5.8,rain
78,Male,2013-07-21 16:35:00,2013-07-21 17:06:00,1809,Michigan Ave & Pearson St,23.0,Millennium Park,35.0,82.4,11.5,tstorms
79,Male,2013-07-21 16:47:00,2013-07-21 17:03:00,999,Carpenter St & Huron St,19.0,Carpenter St & Huron St,19.0,82.4,11.5,tstorms

### Combining `isin` with other filters

You can use the resulting boolean Series from the `isin` method in the same way as you would from the logical operators. For instance, If we wanted to find all the rides that had the same events as above and had a duration greater than 2,000 we would do the following:

In [11]:
filt1 = bikes['events'].isin(['rain', 'snow', 'tstorms', 'sleet'])
filt2 = bikes['tripduration'] > 2000
filt = filt1 & filt2
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
2344,Female,2014-03-19 07:23:00,2014-03-19 08:00:00,2181,Seeley Ave & Roscoe St,11.0,Franklin St & Lake St,23.0,43.0,6.9,rain
7697,Male,2014-09-12 14:20:00,2014-09-12 14:57:00,2213,Damen Ave & Pierce Ave,19.0,California Ave & Division St,15.0,52.0,12.7,rain
8357,Male,2014-09-30 08:21:00,2014-09-30 08:58:00,2246,Damen Ave & Melrose Ave,11.0,Wood St & Taylor St,15.0,46.9,11.5,rain